*{
    margin: 0;
    padding: 0;
}
header{
    background: red;
    color: white;
    padding: 20px 50px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 28px;
    font-weight: bold;
}

nav a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover{
    color: blueviolet;
    text-decoration:underline;
    /* background-color: yellow; */
}

.hero{
    background:url("https://plus.unsplash.com/premium_photo-1670601440146-3b33dfcd7e17?q=80&w=2138&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
     center/cover;
     color:white;
     text-align: center;
     padding: 120px 120px;  
}

.hero h1{
    font-size: 50px;
    margin-bottom: 15px;
}
.hero p{
    font-size: 20px;
    margin-bottom: 20px;
}
.hero input{
    width: 60%;
    padding: 15px;
    border: none;
    border-radius: 5px;
}

.categories{
    padding: 60px;
}

.categories h2{
    text-align: center;
    margin-bottom: 30px;

}
.category-container{
    display: flex;
    gap: 20px;
}
.Category{
    flex:1;
    background: greenyellow;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.Category:hover{
    transform: translateY(-5px);

}

.restaurant{
    padding: 60px;
}
.restaurant h2{
    text-align: center;
    margin-bottom: 30px;
}
.restaurants-grid{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 20px;
}
.card{
    border: 1px solid red;
    border-radius: 10px;
    background: white;
}
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card-content{
    
}